/* Encabezado y Navegación */
header {
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Alinea el header en la parte superior */
    left: 0; /* Alinea el header a la izquierda */
    right: 0; /* Alinea el header a la derecha */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px; /* Puedes ajustar este valor si necesitas más o menos espacio */
    background-color: #000080; /* Color hexadecimal */
}

.logo {
    max-width: 80px; /* Convertido de 5rem a px */
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 16px; /* Convertido de 1rem a px */
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambiar color al pasar el ratón por encima */
.nav-list li a:hover {
    background-color: #009c8c; /* Color hexadecimal */
    color: #ffffff;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 20px; /* Convertido de 1.25rem a px */
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu,
    .cerrar-menu {
        color: #ffffff;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px; /* Convertido de 1rem a px */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c; /* Color hexadecimal */
        padding: 32px; /* Convertido de 2rem a px */
        box-shadow: 0 0 0 100vmax #000000; /* Color hexadecimal */
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}